.footer {
  background: #fde4e4 ;
    /* background: transparent !important; */

  padding-bottom: 30px;
  padding-top: 50px;
  /* box-sizing: border-box; */
}

.footer__logo img {
  width: calc(100% - 70%);
  margin-bottom: 5px;
  margin-top: 1px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.delivery__time-list {
  background:#fde4e4 ;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  font-size: 1rem;
}

.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.newsletter {
  
  padding: 7px 15px;
  border: 1px solid #212245;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.newsletter input {
  border: none;
  outline: none;
  background: transparent;
}

.newsletter input:focus {
  outline: none;
}

.newsletter button {
  background: #212245;
  padding: 5px ;
  border-radius: 5px;
  color: #fff;
}

.newsletter span i {
  color: #fff;
}


.social__links span i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
}
.copyright__text  {
  color: #df2020;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  font-weight: 600;
}
@media only screen and (max-width: 1075px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }

  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }

  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
  
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__logo img {
    width: calc(100% - 85%);
  }

  .footer__title {
    font-size: 0.9rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }

  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  /* .footer{
    margin-top: 5px;
  } */
  .copyright__text {
    text-align: center;
  }

  .social__links {
    justify-content: center !important;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }

  .social__links span a {
    font-size: 0.7rem;
  }
}
